@media (max-width: 1184px) {
  .container {
    margin: 0 20px;
  }
  /* HEADER */

  /* NAV BAR MENU */
  .menu-bar {
    flex-wrap: wrap;
  }
  .menu-bar div {
    flex: 20%;
    display: flex;
  }
  .menu-bar div:nth-child(6) {
    display: flex;
  }

  .menu-bar div:nth-child(7) {
    display: flex;
  }

  /* PHOTOS */
  .photos {
    height: 372px;
  }
}

@media (max-width: 1024px) {
  /* HEADER */
  .right-header div:not(:last-child) p {
    display: none;
  }

  /* PHOTOS */

  .photos {
    height: 276px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  /* HEADER */
  .left-header {
    align-items: center;
    justify-content: space-between;
  }

  .icon-menu,
  .left-header > .icon-search {
    display: block;
  }
  .header-logo {
    width: 132px;
  }

  .right-header,
  .search-bar {
    display: none;
  }

  /* MENU NAV BAR */

  .menu-bar {
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    position: relative;
    height: 40px;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .menu-bar::-webkit-scrollbar {
    display: none;
  }

  .menu-bar div {
    width: 100%;
    display: flex;
    white-space: nowrap;
  }

  /* PHOTOS */
  .photos {
    margin-right: -20px;
    margin-left: -20px;
  }

  .photos .right {
    display: none;
  }

  .text-under-photos p {
    font-size: 11px;
  }

  .text-under-photos .location-city {
    display: none;
  }

  /* CITY DETAILS */
  .details-city {
    flex-direction: column;
    gap: 30px;
  }

  /* CAROUSSEL */
  .caroussel {
    /* border: 3px solid grey; */
    height: 400px;
    flex-direction: column;
  }

  .caroussel-title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .caroussel-title p {
    font-size: 16px;
  }

  .caroussel-scroll .caroussel-item {
    flex: 80%;
    flex-shrink: 0;
  }

  /* BOTTOM CAROUSSEL */
  .caroussel-scroll-bottom .item {
    flex: 80%;
    flex-shrink: 0;
  }

  /* FOOTER */
  footer {
    height: 80px;
  }

  footer img {
    height: 30px;
  }

  footer h5 {
    font-size: 14px;
    margin-left: 10px;
  }
}
